<h2>ToDo's</h2>

<p *ngIf="!todoItems().length">Loading...</p>
<ul class="todos">
    <hr>
    @for (todo of todoItems(); track todo.id ) {
    <li class="todos__item">
        <label for="todo-{{todo.id}}">
            <div class="todos__item-header">
                <input id="todo-{{todo.id}}" type="checkbox" [value]="todo.completed" />
                <b class="ml">{{ todo.title }}</b>
            </div>
            <p>
                <b>{{ todo.createdAt | date: 'short' }}</b> | {{ todo.description }}
            </p>
            <hr>
        </label>
    </li>
    }
</ul>