/* Add application styles & imports to this file! */
html, body {
    margin: 0;
    padding: 0;
}

* {
    outline: none;
}

.card-border {
    border: 2px, dashed, black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 12px 12px 2px 1px rgba(255, 0, 212, 0.5);
}

header {
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: white;
    align-items: center;
    justify-content: space-between;
}


.ng-link {
    margin-bottom: 1rem;
    /* border: 2px, solid, fuchsia; */
    background-color: yellow;
}